venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.log

# Ignore test DB copies created by the dev helper
kool_tpv/base_datos/*.test.db
# Ignore any local DB snapshots
kool_tpv/base_datos/kool_bd.*.db

# Backups locales
backups/

# Base de datos de trabajo (se genera automáticamente al arrancar)
kool_tpv/base_datos/kool_bd.db
